.dummy-screen {
    padding: 20px;
    background-color: white;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
    color: var(--text-color);
  }
  
  .dummy-screen h2 {
    margin-bottom: 10px;
    font-size: var(--font-size-2xl);
    color: var(--primary-color);
  }
  
  .dummy-screen p {
    font-size: var(--font-size-base);
    color: var(--light-text-color);
  }