.blog-page {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.blog-content {
  display: flex;
  width: 75%;
  flex-direction: column;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}


@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .blog-content {
    width: 100%;
  }
  
  .sidebar {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .blog-list {
    grid-template-columns: 1fr;
  }
}
