.blog-page {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.header-icons {
  display: flex;
  gap: 15px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.search-icon,
.candy-icon {
  font-size: 20px;
  color: #fff;
}

.blog-main-content {
  display: flex;
  gap: 30px;
}

.blog-content {
  flex: 0 0 70%;
  max-width: 70%;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

@media (max-width: 768px) {
  .blog-main-content {
    flex-direction: column;
  }

  .blog-content {
    width: 100%;
    margin: 0 50px;
  }
}

@media (max-width: 576px) {
  .blog-list {
    grid-template-columns: 1fr;
  }
}


/* .blog-page {
  padding: 20px;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.blog-content {
  display: flex;
  width: 75%;
  flex-direction: column;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}


@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .blog-content {
    width: 100%;
  }
  
  .sidebar {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .blog-list {
    grid-template-columns: 1fr;
  }
} */
