.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}



/* .landing-page {
    padding: 20px 0;
  }
  
  .landing-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .property-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  @media (max-width: 768px) {
    .property-grid {
      grid-template-columns: 1fr;
    }
  } */