.sidebar {
    flex: 1;
    padding: 20px;
  }
  
  .widget {
    margin-bottom: 40px;
  }
  
  .widget h3 {
    margin-bottom: 20px;
  }
  
  .widget ul {
    list-style-type: none;
    padding: 0;
  }
  
  .widget ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .widget ul li img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  